<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MIA WONG | Welcome</title>


    <style type="text/css" media="screen">
        @import url(https://use.fontawesome.com/releases/v5.8.0/css/all.css);
        @import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
        @import url('/css/style.css');
    </style>
</head>

<body>
    <div class='navbar'>
        <div class="sidebar">
            <ul>
                <div class="toggle"> </div>
                <li><a href="#" data-text="Home">Home</a></li>
                <li><a href="#" data-text="Blog">Blog</a></li>
                <li><a href="#" data-text="Projects">Projects</a></li>

            </ul>
        </div>
        <div class="logo">
            <h1><u>miawong.dev</u> </h1>
        </div>
    </div>
    <div class="container">
        <div class="left-half">

            <img src="/css/joel-fulgencio-687233-unsplash.jpg">
        </div>

        <div class="right-half">
            <div class="content">
                <h2>Mia Wong is a self-taught web developer. She strives to build beautiful web
                    applications
                    through carefully crafted code and user-centric design</h2>
                <p>As a self-taught programmer, Mia learns from the world best tool, the internet. Learning through
                    Treehouse, Youtube, Wes Bos, and Medium. </p>
                <p> She is eager, self-motivated and driven to learn something everyday.</p>
                <p>When not online, Mia can be found in Atlanta,GA cuddling with her boyfriend and two dogs. You will
                    find her at
                    local restaurants indulging in good food, or in the kitchen making desserts.</p>
            </div>
            <div class="social-icons">
                <h4>Take a look at Mia's learning journey on github</h4>
                <a href="https://github.com/miaawong"><i class="fab fa-github fa-lg"></i></a>
                <a href="https://www.instagram.com/lilmiaw"><i class="fab fa-instagram fa-lg"></i></a>
            </div>

        </div>
    </div>



</body>
<!-- put jquery script first  -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/script.js"></script>



</html>